streamlit==1.42.0
yfinance==0.2.54
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
imbalanced-learn==0.13.0
optuna==4.2.1
plotly==6.0.0
arch==7.2.0
xgboost==2.1.4
tqdm==4.67.1
setuptools==69.5.1
python-dateutil==2.9.0
